<div class="text-center mb-4">
  <img src="assets/img/perfil.jpeg" alt="..." class="ms-avatar animated rollIn animation-delay-5">
  <h1 class="no-m color-white center-block fw-500 mt-2 animated zoomInRight animation-delay-7">Duvan Jamid Vargas</h1>
  <h2 class="animated zoomInRight animation-delay-8">Full Stack Developer</h2>
  <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-8">
    <i class="zmdi zmdi-facebook"></i>
  </a>
  <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-9">
    <i class="zmdi zmdi-twitter"></i>
  </a>
  <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-10">
    <i class="zmdi zmdi-google"></i>
  </a>
  <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-11">
    <i class="zmdi zmdi-instagram"></i>
  </a>
  <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-12">
    <i class="zmdi zmdi-github"></i>
  </a>
  <br>
  <a href="javascript:void(0)" class="btn btn-white btn-lg color-primary btn-raised animated fadeInUp animation-delay-16">
    <i class="zmdi zmdi-download"></i> Download CV</a>
</div>