.atom {
    position: relative;
    height: 250px;
}

.orbital {
    -moz-transform: rotate(-55deg) scale(1, 1) skewX(12deg) skewY(40deg) translate(0, 0);
    -webkit-transform: rotate(-55deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    -o-transform: rotate(-55deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    -ms-transform: rotate(-55deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    transform: rotate(-55deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.orbital.e3 {
    -moz-transform: rotate(70deg) scale(1, 1) skewX(12deg) skewY(40deg) translate(0, 0);
    -webkit-transform: rotate(70deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    -o-transform: rotate(70deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    -ms-transform: rotate(70deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    transform: rotate(70deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
}

.orbital.e2 {
    -moz-transform: rotate(240deg) scale(1, 1) skewX(12deg) skewY(40deg) translate(0, 0);
    -webkit-transform: rotate(0deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    -o-transform: rotate(0deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    -ms-transform: rotate(0deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    transform: rotate(0deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
}

.ruta {
    width: 150px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
}

.electron {
    background-color: #2C3E50;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    margin-left: -6px;
}

.proton,
.neutron {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
}


/*.proton {
    background-color: #D35400;
}

.neutron {
    background-color: #F1C40F;
}

.proton.p1 {
    left: 50%;
    margin-left: -4px;
    margin-top: -8px;
    top: 50%;
    z-index: 2;
}

.proton.p2 {
    left: 50%;
    margin-left: -4px;
    top: 50%;
}

.neutron.n1 {
    left: 50%;
    margin-left: -8px;
    margin-top: -4px;
    top: 50%;
}

.neutron.n2 {
    left: 50%;
    margin-top: -4px;
    top: 50%;
}*/

.img-profile {
    background-image: url('./../images/profile.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    position: absolute;
    top: 50%;
    margin-top: -33px;
    left: 50%;
    margin-left: -33px;
    box-shadow: inset 0 0 10px rgba(6, 6, 6, 0), 0 0 26px rgba(187, 187, 187, 0.98);
}

.ruta {
    -webkit-animation: spin 2.5s infinite linear;
    -o-animation: spin 2.5s infinite linear;
    animation: spin 2.5s infinite linear;
}

.orbital.e2 .ruta {
    -webkit-animation: spin 2.5s infinite -1.25s linear;
    -o-animation: spin 2.5s infinite -1.25s linear;
    animation: spin 2.5s infinite -1.25s linear;
}

.orbital.e3 .ruta {
    -webkit-animation: spin 2.5s infinite 0s linear;
    -o-animation: spin 2.5s infinite 0s linear;
    animation: spin 2.5s infinite 0s linear;
}


/*-- Animación electron --*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* tema oscuro */

.dark {
    background-color: #333;
}

.atom.dark .orbital {
    border: 2px solid #eee;
}
