/* You can add global styles to this file, and also import other style files */


@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
    :root,
    html,
    .ms-slidebar,
    .ms-preload {
        background-color: #111111;
    }

    .ms-slidebar .ms-slidebar-menu > li > a.link {
        color: #fff;
        background-color: transparent;
    }

    .img-avatar-circle {
        border: solid 5px #111;
    }

    body {
        color: #cecece;
        background-color: #111111;
    }

    body .ms-site-container {
        background-color: #111111;
    }

    .card {
        background: #1a1a1a;
    }

    .bg-light {
        background-color: #1a1a1a !important;
    }
}
